p{
    text-align: center;
    margin: auto;
  background-color: blanchedalmond;
}
div{
    width: 90%;
    height: 500px;
    background-color: burlywood;
    text-align: center;
    margin: auto;
}
li {
    
}